* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("assets/Fonts/Cocogoose.ttf");
  font-family: "Cocogoose";
}

body {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  background-color: #f7f7f7;
}

.logo {
  padding-right: 30px;
}

.menu1 {
  text-decoration: none;
  color: black;
}

.about-c {
  color: #ec5242;
  font-size: 19px;
}

.campagn {
  border: 3px solid #ec5242;
}

.about {
  color: #ec5242;
  font-size: 19px;
}

.seeall {
  text-decoration: none;
}

img {
  width: 5%;
  height: 5%;
}

.card {
  height: 50%;
}

.card-text {
  font-size: 10px;
}

.mainpro {
  font-size: 20px;
}

.card-body {
  background-color: #272a31;
  color: white;
}

.first-container {
  background-color: #272a31;
}

.ccp,
.card-title,
.mainlefcc {
  color: #ec5242;
}

.joy {
  border: 3px solid white;
  background-color: #d3d3d3;
  color: black;
}

.mainp {
  background-color: #272a31;
}

.explik {
  font-size: 10px;
  justify-self: start;
}

.small {
  color: #ec5242;
}

.joinmolobi2021 {
  background-color: #ec5242;
  text-align: center;
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.firstconf {
  background-image: url("/assets/history1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  object-fit: fill;
  color: white;
  padding-right: 0;
  margin-right: 0;
}

.secondfirst {
  background-image: url("/assets/history2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  object-fit: fill;
  color: white;
}

@media (max-width: 768px) {
  .navmenu2 {
    display: none;
  }

  .tickets-link {
    display: none;
  }

  .ccp {
    text-align: center;
  }

  .musum {
    text-align: center;
  }

  .card-img-top {
    height: 15%;
  }

  .speaker {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    margin-left: 5px;
  }

  .container-fluid {
    display: none;
  }

  .listb {
    margin-left: 3px;
  }

  .ticktable {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .navmenu2 {
    display: none;
  }

  .tickets-link {
    display: none;
  }

  .ccp {
    text-align: center;
    margin-top: 2px;
    padding-top: 2px;
  }

  .musum {
    text-align: center;
  }

  .hellosection {
    margin-top: 0;
    padding-top: 0;
  }

  .card-img-top {
    height: 15%;
  }

  .speaker {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    margin-left: 5px;
  }

  .container-fluid {
    display: none;
  }

  .listb {
    margin-left: 3px;
  }

  .ticktable {
    width: 50%;
  }

  .tabletver {
    display: flex;
    flex-direction: row;
  }
}
