* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("assets/Fonts/Cocogoose.ttf");
  font-family: "Cocogoose";
}

body {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  background-color: #f7f7f7;
}

.logo {
  padding-right: 30px;
}

.menu1 {
  text-decoration: none;
  color: black;
}

.about-c {
  color: #ec5242;
  font-size: 19px;
}

.campagn {
  border: 3px solid #ec5242;
}

.seeall {
  text-decoration: none;
}

img {
  width: 5%;
  height: 5%;
}

/* .card-img-top {
  width: 20%;
  height: 200%;
} */

.card {
  height: 50%;
}

.card-text {
  font-size: 10px;
}
.card-body {
  background-color: #272a31;
  color: white;
}

.ccp,
.card-title {
  color: #ec5242;
}
.joy {
  border: 3px solid white;
  background-color: #d3d3d3;
  color: black;
}

.mainp {
  background-color: #272a31;
}

.firstconf {
  background-image: url("/assets/presenter3.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  color: white;
  padding-right:0;
  margin-right: 0;
  /* background-position: center; */

}

.secondfirst {
  background-image: url("/assets/presenter4.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  color: white;
}


